////colors
//bg:
$black: #212121;
$dark-blue: #113d80;
//texts: 
$white: #f0f0f0;


/* global settings */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  cursor: crosshair;

  button {
    width: 15rem;
    height: 4rem;
    border: none;
    border-radius: 12px;
    display: block;
    margin: 0 auto 2rem auto;
    cursor: crosshair;
    font-size: 1.4rem;
  }

  ul {
    list-style-type: none;
  }
}

:root {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: $white;
}

body {
  width: 100%;
  height: 100vh;
  main {
    background-color: $black;
    height: 95%;
    .target {
      background-color: #017075;
      width: 60px;
      height: 60px;
      border: 2px solid $white;
      border-radius: 50%;
      position: relative;
      top: 80%;
      left: 90%;
    }

    section.main-menu {
      position: fixed;
      z-index: 99;
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap:  wrap;
      width: 100%;
      height: 100vh;
      background-color: #0f0f0f;
      transition: 2s background;

      &.hide {
        display: none;
        visibility: hidden;
      }
      .menu-container {
        padding: 2rem;
        border-radius: 16px;

        #logo {
          width: 10rem;
          margin-bottom: -10rem;
          position: relative;
          z-index: 99999;
        }
        > h1 {
          font-size: 12rem;
        }

        .menu-options {
          .menu-button {
            background-color: #015c63; 
            color: $white;
            transition: .1s transform;
            transition: .5s filter;

            &:hover {
              transform: rotate(-3deg) scale(1.1);
              filter: drop-shadow(0 0 70px $white) hue-rotate(45deg);
            }
          }
        }

        .explication {
          > ul {
            list-style-type: none;
            > li {
              margin: 1.2rem 0;
              font-size: 14px;
            }
          }
        }
      }
    }
    section.timer-container {
      font-size: 5.6rem;
      padding: 2rem;
      > img {
        display: block;
      }
    }

    section.time-out {
      width: 100%;
      height: 100vh;
      background-color: rgba($dark-blue, $alpha: 0.5);
      position: fixed;
      z-index: 2;
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      display: none;
      visibility: hidden;
      transition: 1.2s all;

      &.active {
        display: flex;
        visibility: visible;
      }

      .time-out-container {
        width: min(90%, 30rem);

        .time-out-message {
          width: 100%;
          margin-bottom: 2rem;

          > h2 {
            font-size: 3.2rem;
          }

          > img {
            width: 15rem;
          }

          > p {
            font-size: 2rem;
          }
        }
      }
    }

    section.menu-tutorial {
      width: 100%;
      height: 100vh;
      position: fixed;
      inset: 0;
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba($color: $black, $alpha: 0.8);

      .menu-tutorial-container {
        background-color: $black;
        width: min(60rem, 90%);
        padding: 3rem;
        box-shadow: 0 0 75px rgba($color: $white, $alpha: 0.1);

        .close-modal {
          display: block;
        }

        .explication {
          > ul {
            &:first-child {
              margin-top: 2rem;
            }
            > li {
              margin-bottom: 1.2rem;
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }

  footer {
    height: 5%;
    background-color: $black;
    font-size: 1.6rem;
    padding-right: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    #score {
      transition: 0.5s all;
      font-size: 2.8rem;
      display: block;
      
    }
    #score.active {
      background-color: #034c52;
      border-radius: 5px;
      transform: scale(1.2);
    }
  }
}